.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-info {
    flex: 50%;
    padding: 5px;
}

.content-recommendations {
    padding: 5px;
    flex-direction: column-reverse;
}

.image {
    /*width: 500px;
    height: 500px;*/
    width: 100%;
    height: 100%;
}

span + span {
    margin-left: 10px;
}

.element:not(:last-child) {
    margin-bottom: 1rem;
}
